body {
  background: #56ab2f;
  background: -webkit-linear-gradient(to top, #56ab2f, #a8e063);
  background: linear-gradient(to top, #56ab2f, #a8e063);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div#app {
    flex: 1;
    height: 100vh;
    text-align: center;
}
div#link {
    margin-top: 20px;
}
