@font-face {
	  font-family: 'Patua One';
	  font-style: normal;
	  font-weight: 400;
	  src:
        local('Patua One'),
        local('PatuaOne-Regular'),
        url('static/fonts/Patua_One_400.eot?#iefix') format('embedded-opentype'),
        url('static/fonts/Patua_One_400.woff') format('woff'),
        url('static/fonts/Patua_One_400.woff2') format('woff2'),
        url('static/fonts/Patua_One_400.svg#PatuaOne') format('svg'),
        url('static/fonts/Patua_One_400.ttf') format('truetype');
}

body {
  background: #56ab2f;
  background: -webkit-linear-gradient(to top, #56ab2f, #a8e063);
  background: linear-gradient(to top, #56ab2f, #a8e063);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div#app {
    flex: 1;
    height: 100vh;
    text-align: center;
}
h1 {
    font-family: "Patua One";
}
div#link {
    margin-top: 20px;
}
